In [6]:
import pandas as pd
import os

# Define the folder containing CSV files
# Raw data root
raw_data_root = os.getcwd()
dataset_folder = os.path.join(raw_data_root, "Cleaned_data")

# List all CSV files in the folder
csv_files = [f for f in os.listdir(dataset_folder) if f.endswith(".csv")]

# Get info of each CSV file
for file in csv_files:
    file_path = os.path.join(dataset_folder, file)
    
    # Read the CSV file
    df = pd.read_csv(file_path)
    
    print("file: ", file)
    print(df.info())
    print()

file:  AAPL_OHVLC_5m.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2850 entries, 0 to 2849
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  2850 non-null   object
 1   Close     2850 non-null   float64
 2   High      2850 non-null   float64
 3   Low       2850 non-null   float64
 4   Open      2850 non-null   float64
 5   Volume    2850 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 133.7+ KB
None

file:  AMZN_OHVLC_5m.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2850 entries, 0 to 2849
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  2850 non-null   object
 1   Close     2850 non-null   float64
 2   High      2850 non-null   float64
 3   Low       2850 non-null   float64
 4   Open      2850 non-null   float64
 5   Volume    2850 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 133.7+ KB
None

file:  BABA_OHVLC_5m.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2848 entries, 0 to 2847
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  2848 non-null   object
 1   Close     2848 non-null   float64
 2   High      2848 non-null   float64
 3   Low       2848 non-null   float64
 4   Open      2848 non-null   float64
 5   Volume    2848 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 133.6+ KB
None

file:  BHAT_OHVLC_5m.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2820 entries, 0 to 2819
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  2820 non-null   object
 1   Close     2820 non-null   float64
 2   High      2820 non-null   float64
 3   Low       2820 non-null   float64
 4   Open      2820 non-null   float64
 5   Volume    2820 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 132.3+ KB
None

file:  GOOGL_OHVLC_5m.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2848 entries, 0 to 2847
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  2848 non-null   object
 1   Close     2848 non-null   float64
 2   High      2848 non-null   float64
 3   Low       2848 non-null   float64
 4   Open      2848 non-null   float64
 5   Volume    2848 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 133.6+ KB
None

file:  INTC_OHVLC_5m.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2850 entries, 0 to 2849
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  2850 non-null   object
 1   Close     2850 non-null   float64
 2   High      2850 non-null   float64
 3   Low       2850 non-null   float64
 4   Open      2850 non-null   float64
 5   Volume    2850 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 133.7+ KB
None

file:  META_OHVLC_5m.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2850 entries, 0 to 2849
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  2850 non-null   object
 1   Close     2850 non-null   float64
 2   High      2850 non-null   float64
 3   Low       2850 non-null   float64
 4   Open      2850 non-null   float64
 5   Volume    2850 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 133.7+ KB
None

file:  MSFT_OHVLC_5m.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2850 entries, 0 to 2849
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  2850 non-null   object
 1   Close     2850 non-null   float64
 2   High      2850 non-null   float64
 3   Low       2850 non-null   float64
 4   Open      2850 non-null   float64
 5   Volume    2850 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 133.7+ KB
None

file:  NFLX_OHVLC_5m.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2850 entries, 0 to 2849
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  2850 non-null   object
 1   Close     2850 non-null   float64
 2   High      2850 non-null   float64
 3   Low       2850 non-null   float64
 4   Open      2850 non-null   float64
 5   Volume    2850 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 133.7+ KB
None

file:  NVDA_OHVLC_5m.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2850 entries, 0 to 2849
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  2850 non-null   object
 1   Close     2850 non-null   float64
 2   High      2850 non-null   float64
 3   Low       2850 non-null   float64
 4   Open      2850 non-null   float64
 5   Volume    2850 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 133.7+ KB
None

file:  PLTR_OHVLC_5m.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2850 entries, 0 to 2849
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  2850 non-null   object
 1   Close     2850 non-null   float64
 2   High      2850 non-null   float64
 3   Low       2850 non-null   float64
 4   Open      2850 non-null   float64
 5   Volume    2850 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 133.7+ KB
None

file:  QQQ_OHVLC_5m.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2850 entries, 0 to 2849
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  2850 non-null   object
 1   Close     2850 non-null   float64
 2   High      2850 non-null   float64
 3   Low       2850 non-null   float64
 4   Open      2850 non-null   float64
 5   Volume    2850 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 133.7+ KB
None

file:  SHOP_OHVLC_5m.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2848 entries, 0 to 2847
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  2848 non-null   object
 1   Close     2848 non-null   float64
 2   High      2848 non-null   float64
 3   Low       2848 non-null   float64
 4   Open      2848 non-null   float64
 5   Volume    2848 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 133.6+ KB
None

file:  SPY_OHVLC_5m.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2848 entries, 0 to 2847
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  2848 non-null   object
 1   Close     2848 non-null   float64
 2   High      2848 non-null   float64
 3   Low       2848 non-null   float64
 4   Open      2848 non-null   float64
 5   Volume    2848 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 133.6+ KB
None

file:  TSLA_OHVLC_5m.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2850 entries, 0 to 2849
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  2850 non-null   object
 1   Close     2850 non-null   float64
 2   High      2850 non-null   float64
 3   Low       2850 non-null   float64
 4   Open      2850 non-null   float64
 5   Volume    2850 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 133.7+ KB
None

In [7]:
import pandas as pd
import numpy as np

df=pd.read_csv("./Cleaned_data/AAPL_OHVLC_5m.csv")
df.head()

,Datetime,Close,High,Low,Open,Volume
0,2024-12-16 14:30:00,249.926605,249.990005,247.649994,248.000000,2747902
1,2024-12-16 14:35:00,249.710007,249.970001,249.479996,249.919998,577478
2,2024-12-16 14:40:00,249.699997,250.000000,249.460007,249.699997,453003
3,2024-12-16 14:45:00,248.970001,249.789993,248.850006,249.710007,414881
4,2024-12-16 14:50:00,249.100006,249.100006,248.600006,248.979996,395577

In [8]:
df['pct_change'] = (df['Close'] - df['Close'].shift(1))/ df['Close'].shift(1)
df['log_change'] = np.log(df['Close']/ df['Close'].shift(1))

df.head()

,Datetime,Close,High,Low,Open,Volume,pct_change,log_change
0,2024-12-16 14:30:00,249.926605,249.990005,247.649994,248.000000,2747902,NaN,NaN
1,2024-12-16 14:35:00,249.710007,249.970001,249.479996,249.919998,577478,-0.000867,-0.000867
2,2024-12-16 14:40:00,249.699997,250.000000,249.460007,249.699997,453003,-0.000040,-0.000040
3,2024-12-16 14:45:00,248.970001,249.789993,248.850006,249.710007,414881,-0.002923,-0.002928
4,2024-12-16 14:50:00,249.100006,249.100006,248.600006,248.979996,395577,0.000522,0.000522